body {
    background-color: #F2E7DD;
  }
  
  h1 {
    color: #567B57;
    margin-left: 550px;
  }
  li a {
    display: block;
    width: 150x;
    color:#
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
li {
    float: left;
}
  a {
    display: block;
    padding: 8px;
    background-color:#D24C4A;
  }

  h2 {
    color:#A9BDA1; 
    margin-left: 0px;
    margin-bottom:0px;

  }
