body {
    background-color: #ead7e1a3;
  }
  
  h1 { /*dit gaat over de titel van elke pagina die*/
    color: rgb(231, 158, 170);
    margin-left: 500px;

  }
  ul { /*dit gaat over het menu*/
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 100%; /*dit laat zien dat mijn menu van de ene kant van de pagina naar de andere kant van de pagina gaat horizontaal*/
    background-color: pink;
  }
li {
    float: left;
}
 li a { /*hier staat alles over mijn menu*/
    display: block;
    padding: 50px, 21px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    background-color: pink; /*kleur van mijn menu*/
    color:whitesmoke; /*kleur van de letters in mijn menu*/
  }

  h2 { /*informatie over de kleur etc over de tussenkopjes*/
    color:rgb(231, 158, 170); 
    margin-left: 0px;
    margin-bottom:0px;
  }

  .intro{
    width: 40%;
    border: #b33e80;
    background-color: rgb(236, 134, 151);
    color: white;
    padding: 9px;
    margin-left: 9;
    border-radius: 10px;
  } /* Dit is de opmaak van mijn stukje tekst over mezelf, me intro.*/

  .mezelf {
width: 40%;
border: #b33e80;
    background-color: pink;
    color: white;
    padding: 9px;
    margin-left: 9;
    border-radius: 10px;
  } /*Stukje tekst in de intro maar ander paragraaf*/

  p {
    font-size: large;
    color:black;
  }

  .intro p {
    font-size: large;
    color: ghostwhite
  }

  .mezelf p {
    font-size: large;
    color: ghostwhite
  }