body {
    background-color: rgb(250, 251, 235);
  }
  
  h1 { /*dit gaat over de titel van elke pagina die*/
    color: rgb(145, 197, 132);
    margin-left: 500px;
    text-shadow: 15px 15px 15px rgb(212, 167, 206);
    }
  
  ul { /*dit gaat over het menu*/
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 100%; /*dit laat zien dat mijn menu van de ene kant van de pagina naar de andere kant van de pagina gaat horizontaal*/
    background-color: rgb(236, 134, 151);
  }
li {
    float: left;
}
 li a { /*hier staat alles over mijn menu*/
    display: block;
    padding: 50px, 21px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(236, 134, 151); /*kleur van mijn menu*/
    color:whitesmoke; /*kleur van de letters in mijn menu*/
  }

  h2 { /*informatie over de kleur etc over de tussenkopjes*/
    color: rgb(145, 197, 132);
    margin-left: 5px;
    margin-bottom:0px;
    text-shadow: 15px 15px 15px rgb(212, 167, 206);
  }

  .intro{
    width: 70%;
    border: #b33e80;
    background-color: rgb(236, 134, 151);
    color: white;
    padding: 9px;
    margin-left: 5px;
    border-radius: 10px;
  } /* Dit is de opmaak van mijn stukje tekst over mezelf, me intro.*/

  .mezelf {
width: 70%;
border: #b33e80;
    background-color: rgb(236, 134, 151);
    color: white;
    padding: 9px;
    margin-left: 5px;
    border-radius: 10px;
  } /*Stukje tekst in de intro maar ander paragraaf*/

.tientallig {
  width: 50%;
  border: #b33e80;
  background-color: rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px;
}

.binair {
width: 70%;
border: #b33e80;
background-color: rgb(236, 134, 151);
color: white;
padding: 9px;
margin-left: 5px;
border-radius: 10px;
}

.bit {
  width: 45%;
  border:#b33e80;
  background-color: rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px;
}

.ascii {
  width: 70%;
  border:#b33e80;
  background-color: rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px;
}

.rgb {
  width: 80%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px
}

.cym {
  width:80%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10;
}

.video {
  width: 90%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px;
}

.afbeelding {
  width: 90%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color:white;
  padding: 9px;
margin-left: 5px;
border-radius: 10px
}

.geluid {
  width: 80%;
  border:#b33e80;
  background-color: rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px;
}

.mens {
  width:90%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius:10px;
}

.bitmap {
  width: 90%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px;
}

.vector {
  width: 90%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius:10px
}

.geluid {
  width: 90%;
  border:#b33e80;
  background-color: rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px
}

.geluidtwee {
  width: 90%;
  border:#b33e80;
  background-color:rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px
}

.pixels {
  width: 80%;
  border:#b33e80;
  background-color: rgb(236, 134, 151);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px
}

.maker {
  width: 100%;
  background-color: rgb(145, 197, 132);
  color: white;
  padding: 9px;
  margin-left: 5px;
  border-radius: 10px;
}

  p {
    font-size: large;
    color:black;
  }

  .intro p {
    font-size: large;
    color: ghostwhite
  }

  .mezelf p {
    font-size: large;
    color: ghostwhite
  }

  p {
    text-align: left;
  }
  